
@using dCareProject.Models

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>dCare Doctor System</title>
<head>
    <meta charset="UTF-8">
    <!--bootstrap CDN-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!---------->
    <script src="~/Content/doctor/js/jquery.js"></script>
    <link href="~/Content/doctor/css/doctor-index.css" rel="stylesheet">
    <link href="~/Content/doctor/css/metro.css" rel="stylesheet">

</head>
<body>
    <div class="container">

        <!-----------------------bat-->
        <div class="app-bar red">
            <a class="app-bar-element branding">dCare Doctor</a>
            <span class="app-bar-divider"></span>
            <ul class="app-bar-menu">
                <li><a href="">預約時間設定</a></li>
            </ul>
            <div class="app-bar-element place-right">
                <ul class="app-bar-menu">
                    <li><a href="onclick="javascript:location.href='Login';">Logout</a></li>
                </ul>
            </div>
        </div>

        <!--bar-end -->


        
        <!----------------------table-->
        <div class="col-md-8 main">

            <div class="maintabletitle"><h3>代診列表</h3></div>
            <table class="col-md-8 table table-hover maintable" id="table" style="text-align:center">
                <tr class="active"><td>看診順序</td><td>姓名</td><td>預約時間</td><td>報到狀況</td><td>詳細資料</td></tr>
                 
                @foreach (var row in ViewBag.name)
                 {  
                    
                    <tr><td>@row.id</td><td>@row.name</td><td>@row.time</td><td>以報到</td><td><button class="button" onclick="get()">詳細資料</button></td><td class="hide" id="foradress">@row.address</td><td class="hide" id="forsex">@row.gender</td><td class="hide" id="forphone">@row.phone</td></tr> 
                 }
                
            </table>

        </div>
        <!----------------------table end-->
        <!----------------------left-->
        <div class="col-md-4 leftbox">
            <div class="leftboxtitle"><h3>詳細資料</h3></div>
            <div class="leftboxin">

                <div class="leftboxin-top">
                    <img src="~/img/john.jpg" alt="" class="img-rounded" height="100" width="100" style="float:left">
                    <address>
                        <b id="name">123</b>
                        <br>
                        性別: <span id="gender" name="性別">男</span><br>
                        出生年月日: <span id="birth" name="出生年月日">0000000</span><br>
                        電話: <span id="phone" name="電話">(123)456-7890</span><br>
                        地址: <span id="address" name="地址">OOOOOOOOO</span>
                    </address>

                    <button type="button" class="btn btn-success btn-block" onclick="javascript:location.href='Link'">視訊通話</button>

                </div>

                <div class="leftboxin-und">
                </div>
            
                </div>
            </div>
        </div>
        <script>

                $(".button").click(function () {
                    var p = $(this).parent().parent().index();
                    var name = document.getElementById("table").rows[p].cells[1].innerHTML;
                    var adresss = document.getElementById("table").rows[p].cells[5].innerHTML;
                    var gender = document.getElementById("table").rows[p].cells[6].innerHTML;
                    var phone = document.getElementById("table").rows[p].cells[7].innerHTML;
                    document.getElementById("name").innerHTML = name;
                    document.getElementById("address").innerHTML = adresss;
                    document.getElementById("gender").innerHTML = gender;
                    document.getElementById("phone").innerHTML = phone;
                })

        </script>
</body>
</html>