@using dCareProject.Models


@{  
    ViewBag.Title ="Link";
    Layout = null;
}

<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="~/Content/doctor/css/view.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/doctor/css/metro.css">
    <link rel="stylesheet" href="~/Content/doctor/css/metro-icons.css" />
    <link rel="stylesheet" href="~/Content/doctor/css/animate.css">
    <link rel="stylesheet" href="~/Content/doctor/css/docs.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/doctor/js/metro.js"></script>
</head>

<body>
    <form method="post">
        <div class="container">
            <div sytle="clear:both">
                <!-----------------------bat-->
                <div class="app-bar red">
                    <a class="app-bar-element branding" href="Index">dCare Doctor</a>
                    <span class="app-bar-divider"></span>
                    <ul class="app-bar-menu">
                        <li><a href="">預約時間設定</a></li>
                    </ul>
                    <div class="app-bar-element place-right">
                        <ul class="app-bar-menu"></ul>
                    </div>
                </div>
            </div>

            <!--bar-end -->
            <br>

            <div class="row" style="clear:both">
                <div class="col-6">
                    <h3 style="font-family:'微軟正黑體'">遠端畫面</h3>
                    <div data-role="preloader" data-type="cycle" data-style="color" id="loading" style="width: 480px; height: 400px;" class="preloader-cycle color-style"><div class="cycle"></div></div>
                    <div id="frmVedio" style="display:inline">
                        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="480" height="385">
                            <param name="movie" value="http://10.211.55.4:86//nchplayer.swf?host=10.2.1.120:1935&scope=BroadCam&streamName=live&bandwidth=1&src=1&autostart=true&redirect=&textOnOver=">
                            <param name="allowfullscreen" value="true">
                            <param name="quality" value="high">
                            <embed src="http://10.211.55.4:86/nchplayer.swf?host=10.211.55.4:1935&scope=BroadCam&streamName=live&bandwidth=1&src=1&autostart=true&redirect=&textOnOver=" width="480" height="385" allowfullscreen="true" quality="high" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
                        </object>
                    </div>
                </div>

                <div class="col-3">
                    <h3 style="font-family:'微軟正黑體'">就診紀錄</h3>
                    <select multiple="" class="form-control" style="height:400px" id="histSelect">
                        <option id="data">2017/10/07</option>
                        <option id="data">2017/09/12</option>
                    </select>
                </div>
                <div class="rightbox col-3">
                    <div class="rightbox-top">

                        @*<div name="病人ID" class="hide">@ViewBag.data.pid</div>*@
                        <img src="" alt="" class="img-rounded" id="photo">
                        <h5 style="font-family:'微軟正黑體'">病患資訊</h5>
                        <h4 name="姓名" id="name">@ViewBag.data.name</h4>
                        <p name="出生年月日">1956/11/15</p>

                        <dl>
                            <dt style="font-family:'微軟正黑體'">健檢資料</dt>
                            <dd>身高:160 cm</dd>
                            <dd>體重:<span name="體重">@ViewBag.data.weight kg</span></dd>
                            <dd>體溫:<span name="體溫">@ViewBag.data.temperature ℃</span></dd>
                            <dd>脈搏:<span name="脈搏">@ViewBag.data.pulse bpm</span></dd>
                            <dd>血氧:<span name="血氧">@ViewBag.data.blood %</span></dd>
                            <dd>所在服務地:永和宮</dd>
                            <dd>紀錄時間:<span name="健檢時間">@ViewBag.data.time</span></dd>
                        </dl>



                    </div>
                    <hr />
                    <div class="rightbox-bottom">
                        下次看診日期:
                        <div class="input-control text" id="datepicker">
                            <input type="text" name="登記日期">
                            <button class="button"><span class="mif-calendar"></span></button>
                        </div>

                        <button type="button" class="btn btn-primary btn-block" id="saveRecord" onclick="metroDialog.toggle('#saveDialog')">儲存紀錄</button>
                        <button type="submit" value="ok" class="btn btn-default btn-block btn-danger" id="submit">結束看診</button>
                    </div>
                </div>

                <div class="col-9">
                    <h3 >病歷資料 <button class="button info block-shadow-info text-shadow" id="CreateRecord">新增本次紀錄</button></h3>
                    <textarea class="form-control text-area col-md-12" rows="3" name="看診紀錄"></textarea>
                </div>
            </div>
        </div>

        <div data-role="dialog" id="saveDialog" class="alert padding20 dialog" data-close-button="true" data-overlay="true" style="width: auto; height: auto; visibility: hidden; left: 360.5px; top: 437px;">
            <h1>儲存記錄</h1>
            <p>
                已更新紀錄
            </p>
            <span class="dialog-close-button"></span><span class="dialog-close-button"></span>
        </div>
    </form>
    
    <script>
        var p = '@ViewBag.data.name';
        $(document).ready(function () {
            var name = p;
            document.getElementById("photo").src = "/img/" + name.trim() + ".jpg"; 
        })

        $("#idform").hide();
        $(document).ready(function () {
            setTimeout(function () {
                $("#loading").css("display", "none");
            }, 1400);
            $("#submit").hide();
        })

        $("#CreateRecord").click(function () {
            var today = new Date();
            var currentDateTime =
            today.getFullYear() + '/' +
            (today.getMonth() + 1) + '/' +
            today.getDate() + ',' +
            today.getHours() + ':' + today.getMinutes();
            $("textarea").text("看診日期:" + currentDateTime + ' , ' + "看診醫師:魏宏和 \n病歷紀錄:\n");
        })


        $("#saveRecord").click(function () {
            var today = new Date();
            var currentDateTime =
            today.getFullYear() + '/' + (today.getMonth() + 1) + '/' + today.getDate();
            $('#histSelect')
                .find('option')
                .remove()
                .end()
                .append('<option>' + currentDateTime + '</option>');
            $("#histSelect").append('<option>2017/10/07</option>');
            $("#histSelect").append('<option>2017/09/12</option>');
        })


        $("#data").click(function () {
            var today = new Date();
            var currentDateTime =
                today.getFullYear() + '/' + (today.getMonth() + 1) + '/' + today.getDate();
            if (confirm('確認要歷史紀錄嗎？ 目前記錄會清空') == true){
                $("textarea").text("看診日期:"
                    + currentDateTime
                    + ",看診醫師:魏宏和\n病歷紀錄:\n"
                    + "Contrary to popular belief, is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of de Finibus Bonorum et Malorum (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, Lorem ipsum dolor sit amet.., comes from a line in section 1.10.32.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.Sections 1.10.32 and 1.10.33 from de Finibus Bonorum et Malorum by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H.Rackham.");
            }
        })


        $("#saveDialog").click(function () {
            $("#submit").addClass("btn-danger");
            $("#submit").show();
        })


        $(function(){
            $("#datepicker").datepicker();
        });

        $("#submit").click(function () {
            alert("看診結束");
            document.location = '@Url.Action("Index","Doctor")';
        })




   </script>






</body>
</html>
